/* BASIC STYLES HERE */
body{
  background-color: black;
}
.block{
  height: 27px;
}
.block:hover{
  background-color: lightgoldenrodyellow;
}
.p--1{
  padding: .35px !important;
}
.restart{
  margin-top: 50vh;
  cursor: pointer;
}
.restart:hover{
  color: green;
}