/* BASIC STYLES HERE */
body{
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}
.block{
  outline: .25px solid black;
  height: 8.33vh
}
.block:hover{
  background-color: lightgoldenrodyellow !important;
}
.p--1{
  padding: .35px !important;
}
.restart{
  margin-top: 50vh;
  cursor: pointer;
  font-size: xx-large;
}
.score{
  font-size: xx-large;
}
.restart:hover{
  color: green;
}
.c1{
  cursor: url('../img/cur1.gif') 40 35, auto !important;
}
.c2{
  cursor: url('../img/cur22.gif') 30 29, auto !important;
}
.c3{
  cursor: url('../img/gam880.gif') 30 31, auto !important;
}
.c4{
  cursor: url('../img/gam1416.png') 62 31, auto !important;
}
.cn{
  cursor: none;
}
#timer{
  font-size: xx-large;
  color: whitesmoke;
}
.m-xtra{
  margin-top: 50vh;
}
.bg-transparent{
  background-color: rgba(245, 245, 245, 0.5) !important;
}
.bg-green{
  background-color: green;
}
.text-gold{
  color: gold;
}
.square{
  width: 100px;
  height: 100px;
}
.power-mode{
  background-image: url('https://media1.giphy.com/media/fX2oud7WOkCyO6jtyv/giphy-downsized-large.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
.enemy{
  height: 25px;
  width: 25px;
  background-color: black;
  border: 1px solid purple;
  box-shadow: 0px 0px 5px 2px purple;
  position: absolute;
}